*{margin:0; padding: 0; box-sizing:border-box;}
body{font-family: 'Rubik', sans-serif;}

/*common css start*/
.header{width:15rem;height:3rem;margin:auto;text-align:center;padding-top:2rem;font-size:1.6rem;position: relative;}

.header:before{content:"";position:absolute;top:150%;left:0;width:0;height:2px;border-bottom:2px solid  #148f77;transition:all 0.4s linear;}

.header:hover:before{width:100%;}

.header:hover{cursor:pointer;}

.display-flex{display:flex;justify-content:space-around;align-items:center;}
/*common css end*/

/*Header Section start*/

header{width:100%;background-image:linear-gradient(to left,#fff 85%, #148f77 20%);}

.navesection{width:100%;height: 20vh;background-image:linear-gradient(to top,#fff 80%, #148f77 20%);background-color:yellow;}

.logo{width:40%; color:#fff; background-image:linear-gradient( #48c9b0 40%,  #148f77 60%);padding-left:100px;box-sizing:border-box;font-family: 'Dancing Script', cursive;}

.logo h1{text-transform: uppercase; font-size:1.6rem; animation:aagepiche 2s linear infinite; animation-direction:alternate;}
.icon-nav{display:none}

@keyframes aagepiche{from{ padding-left:40px; }to{padding-right:40px; }}

nav{width:60%;display:flex;justify-content:space-around;align-items:center;}

nav a{text-decoration:none;text-transform:uppercase;color:#000;font-weight: 900;font-size: 17px;position: relative;}

nav a:first-child{color: #148f77;}

nav a:before{content:"";position:absolute;top:110%;left:0;width:0;height:2px;border-bottom:2px solid  #148f77;transition:all 0.4s linear;}

nav a:hover:before{width:100%;}

.header-main{padding:7rem 0;width:100%;}

.leftside{color:#000;text-transform: uppercase;}

.leftside h3{font-size:40px;margin-bottom: 20px;position:relative;}

.leftside h3:after{content:"";width: 450px; height:3px; position:absolute;top:43%;left:21%;background: #000;}

.leftside h1{margin-top:20px;font-size: 70px;margin-bottom: 25px;}

.leftside h2{margin-bottom:35px;font-weight:100;word-spacing: 4px;}

.btn1,.btn2{text-decoration:none;font-weight: 900;font-size: 14px;text-align: center;padding:12px 25px;cursor: pointer;text-transform:uppercase;border-radius:5px;display: inline-block;margin-right:50px;}

.btn1{color:#fff;letter-spacing: 0;background-image:linear-gradient(to right,#4458dc 0%, #854fee 100%);border:double 2px transparent;box-shadow:0 10px 30px rgba(118, 85, 225, .3);}

.btn1:hover{border:2px solid #4458dc; color:#222;background:#fff;box-shadow:none;background-image:none;}

.btn2{border:2px solid #4458dc; color:#222;background:#fff;box-shadow:none;}

.rightside img{border-radius:30% 70% 70% 30% / 30% 30% 70% 70%;background-color: #148f77;}

.rightside img{max-width: 500px;height: auto;padding-right:.5rem;}

/*Header Section end*/

/*about section start*/
.about{}

.container{width:100%;padding-top:5rem;}

.container .about-img,.about-des{width:50%;}

.container .about-img img{width:90%;border-radius: 65% 7% 39% 25% / 37% 46% 35% 56%;background-color: #148f77;}

.container .about-img .img{width:80%;margin:auto;}

.about-content{width:80%;margin:auto}

.container .about-des h1{font-size:2rem;padding:1rem 0;}

.container .about-des h1 span{color:#148f77;font-weight:bold;font-size: 2.5rem}

.container .about-des .about-content p{font-size:1.2em; letter-spacing: 2px;padding:1rem 0}

/*about section end*/

/*skill section start*/

.skill{}

.skill-des{width:100%;padding:5rem 2rem 0 2rem;flex-wrap:wrap;}

.skill-item{width:33%;text-align:center;padding: 20px;padding-bottom:0;} 

.skill-item img{width: 5rem; height:5rem; border-radius: 50%;border: 5px solid  #148f77;}

.skill-item h3{font-size:1.5rem; padding: 10px 0;}

.skill-item p{font-size:1rem;padding:10px 0;}

/*skill section end*/

/*work section start*/

.work-section{}

.my-work{width:100%;padding: 5rem 10px 0 10px;flex-wrap:wrap;}

.my-work .work{width:33%;height:15rem;margin:2px; padding:5px;border-radius:5px;background-color:#148f77;text-align:center;position:relative;}

.work img{width:100%;height:100%;display:block;}

.work-overlay{position:absolute;bottom: 0;left: 0;right:0;background-color:#148f77;opacity: .95;overflow: hidden;width:100%;height: 0;transition: .5s ease;}

.work-overlay a{font-size:12px;position:absolute;top:50%;left:50%;transform: translate(-50%,-50%);text-align:center;}

.work:hover .work-overlay{height:100%;border-radius:5px;}

/*work section end*/

/*contact section start*/

.contact-form{width:100%;display:flex;justify-content:center;align-items:center;padding:5rem 0;}

.contact-form form{width:80%; background-color:#148f77;border-radius: 5px;padding:4rem 2rem;}

.contact-form form .row{display:flex; justify-content:space-between; align-items:center;padding:10px}

form .row input{width:47%;padding:1rem;font-size:1rem;border:none;outline: none;border-bottom: 1px solid white;background-color:transparent;padding-left:0;color:white;}

form textarea{width:100%;height:5rem;margin:10px 0;border:none; outline:none;border-bottom: 1px solid white;background-color: transparent; font-size:1rem;color:white;}

::placeholder{color:white; font-size:1rem;}

/*contact section end*/

/*responsive start*/

@media (max-width:1216px){
/*work section start	*/
	.my-work .work{width:47%;justify-content:space-between;}
/*work section end*/
}

@media (max-width:992px){
/*header section start	*/
	.navesection{flex-direction: column;padding-top:10px;}

	.header-main{height:auto;flex-direction:column;padding-top:1rem;}

	.logo{width:60%;}

	nav{width:100%;}

	.leftside{padding-bottom:4rem;}

	.header-main{padding:4rem 0;}
/*header section end	*/

/*about section start*/
.container{flex-direction:column;}

.container .about-img,.about-des,.container .about-img .img,.about-content,.container .about-img img{width:100%;text-align:center;padding:0 1rem}
.about-img img{border-radius:87% 13% 70% 30% / 30% 30% 70% 70% ;}
/*about section end*/

/*skill section start*/

.skill-item{width:50%;}

/*skill section end*/

/*work section start*/

.my-work .work{width:45%;justify-content:space-between;}

/*work section end*/

}

@media (max-width:768px){
/*header section start*/
.logo{width:80%;}

.leftside h3:after{width: 370px;left:30%;}

.leftside h1{font-size:50px;}

.rightside img{max-width:400px;}
/*header section end*/

/*work section start*/

.my-work{flex-direction:column;}

.my-work .work{width:100%;margin-bottom:10px;}

/*work section end*/

/*contact form start*/

.contact-form form{width:100%;}

/*contact form end*/

}

@media (max-width:600px){
/*header section start*/
.navesection{flex-direction:row;}

.logo{width: 70%;}

nav{display:none;}

.icon-nav{display:block;width:20%;text-align: center;}

.icon{font-size:2rem;color:#148f77;}

.icon:hover{cursor:pointer;}

/*header section end*/

/*skill section start*/

.skill-item{width: 100%;}

/*skill section end*/

/*contact form start*/

form .row{flex-direction:column;padding:0;}

form .row input{width:100%;}

/*contact form end*/

}

@media (max-width:500px){
	.logo h1{font-size:1rem;padding:10px;}

	.leftside h3:after{width: 200px;left:35%;}

	.leftside h1{font-size:40px;}

	.rightside img{max-width:300px;margin-left:40px}

	.header-main{padding:2rem 0}

}

/*responsive end*/